.wrapper {
    display: flex;
    gap: 12px;
    font-size: 16px;
    align-items: center;
    color: #b91b1b;
    margin-top: -12px;
}
@media screen and (max-width: 375px) {
    .wrapper {
        gap: 8px;
        font-size: 14px;
    }
}