.form {
    display: flex;
    gap: 10px;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15), 0 2px 6px rgba(0,0,0,.05);
    height: 60px;
}

.form:focus-within {
    box-shadow: 0 4px 12px rgba(0,0,0,.25), 0 2px 6px rgba(0,0,0,.15);
}

.form > * {
    font-size: 16px;
}

.form > .input {
    border: none;
    flex-grow: 1;
}
.form > .input::placeholder {
    color: #A6A6A6;
}

.form > .button {
    border: none;
    background: linear-gradient(90deg, #8B62FF, #4743FF);
    border-radius: 8px;
    padding: 10px 16px;
    color: #fff;
    height: 100%;
    text-transform: uppercase;
}