.form {
    display: flex;
    gap: 12px;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15), 0 2px 6px rgba(0,0,0,.05);
    background-color: #fff;
    height: 60px;
    align-items: center;
    cursor: text;
}
.form > div {
    display: flex;
    align-items: center;
    text-align: left;
    height: 100%;
}

.form:focus-within {
    box-shadow: 0 4px 12px rgba(0,0,0,.25), 0 2px 6px rgba(0,0,0,.15);
}
.form > div > .toggle {
    width: 100px;
    display: none;
}
.form:focus-within > div > .toggle {
    display: block;
}

.form > * {
    font-size: 16px;
}

.form > .input {
    border: none;
    flex-grow: 1;
}
.form > .input::placeholder {
    color: #A6A6A6;
}

.form > div > .button {
    border: none;
    background: linear-gradient(90deg, #8B62FF, #4743FF);
    border-radius: 8px;
    padding: 10px 16px;
    color: #fff;
    height: 100%;
    text-transform: uppercase;
    transform: scale(1);
    transition: 150ms 0s ease-out transform;
}
.form > div > .button:active {
    transform: scale(0.95);
    transition: 150ms 0s ease-in transform;
}
.form > div {
    display: flex;
    gap: 8px;
}
@media screen and (max-width: 768px) {
    .form * {
        font-size: 14px;
    }
    .form {
        height: 54px;
    }
}
@media screen and (max-width: 375px) {
    .form * {
        font-size: 12px;
    }
    .form {
        height: auto;
        flex-direction: column;
    }
    .form input {
        width: 100%;
        text-align: center;
    }
    .form > div {
        width: 100%;
    }
    .form > div > .toggle {
        display: block;
        flex-grow: 1;
        width: auto;
    }
}