.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15), 0 2px 6px rgba(0,0,0,.05);
    background-color: #fff;
    max-height: 50%;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    width: 100%;
}

.header {
    display: flex;
    padding: 20px 28px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
}

.header > .left {
    flex-grow: 1;
}

.header > .right {
    font-size: 12px;
}

.header, .content {
    font-size: 16px;
}

select.dropdown {
    padding: 3px 4px;
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

select.dropdown:hover {
    border-color: rgba(0,0,0,.45)
}

select.dropdown:focus {
    border-color: rgb(96 79 255);
    box-shadow: 0 0 0 1px rgb(96 79 255)
}


@media screen and (max-width: 768px) {
    .header {
        padding: 10px 18px;
    }
}
@media screen and (max-width: 375px) {
    .header {
        padding: 6px 16px;
    }
    .header, .content {
        font-size: 14px;
    }
    select.dropdown {
        font-size: 12px;
    }
}